:root,
.style {
	--shadow              : 0 3px 6px rgba(0, 0, 0, 0.6);
	--flavor              : #8fbcbb;
	--foreground          : #434c5e;
	--foreground-highlight: #434c5e;
	--background          : #2e3440;
	--text                : #eceff4;
	--border-radius       : 10px;
	--spacing-medium      : 10px;
	--spacing-big         : 30px;
	--spacing-huge        : 60px;
	--font                : sans-serif;
}

body {
	background : var(--background);
	padding    : 0;
	margin     : 0;
	display    : flex;
	font-family: var(--font);
}

.card-bg-border {
	border-radius: var(--border-radius);
	box-shadow   : var(--shadow);
	background   : var(--foreground);
}

.card-link {
	text-decoration: inherit;
	color          : inherit;
}

.blog-post {
	padding  : var(--spacing-huge);
	min-width: 500px;
}

.blog-post>h1,
.blog-post>h2,
.blog-post>h3 {
	text-align: center;
	color     : var(--flavor);
}

.blog-post>p>a {
	color: hotpink;
}

#main {
	max-width  : 1000px;
	margin     : auto;
	color      : var(--text);
	padding-top: var(--spacing-big);
}

.nav-emoji {
	width     : 60px;
	text-align: center;
}

#nav-bar {
	top       : 0;
	align-self: start;
	position  : sticky;
}

#nav-bar>ul {
	height         : 100vh;
	list-style-type: none;
	margin         : 0;
	padding        : 0;
	color          : var(--flavor);
	font-size      : xx-large;
	background     : var(--foreground);
}

#nav-bar>ul>li {
	padding: 15px;
	display: flex;
}

#nav-bar>ul>li>a:hover {
	color: var(--flavor);
}

#nav-bar>ul>li>a {
	color          : var(--text);
	text-decoration: none;
}

.api {
	display: grid;
	grid-template:
		'image header header header'
		'image content content content';
	margin-bottom: var(--spacing-big);
	transition   : 0.4s ease;
	height       : 300px;
}

.api:hover {
	background: var(--foreground-highlight);
	scale     : 1.1;
}

.api>.header {
	grid-area              : header;
	text-align             : center;
	color                  : var(--text);
	margin-top             : 0px;
	padding                : var(--spacing-medium);
	border-top-right-radius: var(--border-radius);
}

.api>.header>.subtitle {
	color: var(--flavor);
}


.api>.image {
	grid-area                : image;
	width                    : 385px;
	max-height               : 100%;
	object-fit               : cover;
	align-self               : stretch;
	border-top-left-radius   : var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.api>.content {
	grid-area : content;
	text-align: center;
	padding   : var(--spacing-medium);
}